{{page-title "Rental"}}
 <div class="cards-container">
    <div class="card">
      <p class="title">{{this.model.title}}</p>
      <p class="card-price">₹ {{this.model.price}}</p>
      <p class="description">{{this.model.description}}</p>
      <p class="details">Address: {{this.model.address}}</p>
      <p class="details">Type: {{this.model.propertyType}}</p>
      <p class="details">Area: {{this.model.areaSqFt}} sq ft</p>
      <p class="details">Bedrooms: {{this.model.numberOfBedrooms}}, Bathrooms: {{this.model.numberOfBathrooms}}</p>
      <p class="details">Nearby: {{this.model.nearbyLandmarks}}</p>

      <h4 class="details"><b>SELLER</b></h4>
      <p class="details">Name: {{this.model.firstName}} {{this.model.lastName}}</p>
      <p class="details">Email: {{this.model.email}}</p>
      <p class="details">Phone Number: {{this.model.phoneNumber}}</p>
    </div>
  </div>